﻿
@{
    //ViewBag.Title = "Index";
}

<style>
    #map{height:300px;}
</style>

<input type="hidden" id="displayname" />
<div id="map"></div>
<div id="errorcode"></div>
<div id="errormsg"></div>


@section scripts {

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCADUnyCKT8Y-MOOvJ5KvYKYVnnJ-wHUyQ">
</script>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    

    jQuery(document).ready(function () {
        var currentLoc; // = new google.maps.LatLng(41.850, -87.650);
        var map;
        var mymarker;
        var options = {
            enableHighAccuracy: false,
            timeout: 500,
            maximumAge: 5000
        };
        var markers = [];
        var myHub = jQuery.connection.getRoutes;

        if (navigator.geolocation) {

            navigator.geolocation.getCurrentPosition(currentPosition);
            navigator.geolocation.watchPosition(locUpdates, error_callback, options)
        }
        jQuery('#displayname').val(prompt('Enter your name:', ''));

        myHub.client.GetCoord = function (a, user) {

            for (var i = 0; i < markers.length; i++) {
                if(user == markers[i].id)
                {
                    var oldMark = markers[i].markerObject;
                    oldMark.setPosition(new google.maps.LatLng(a));
                    return;
                }
            }
            var mymarker2 = new google.maps.Marker({ position: a, map: map });
            mymarker2.setMap(map);
            markers.push({ id: user, markerObject: mymarker2 });
            var infowindow = new google.maps.InfoWindow({ content: "Hello " + user + " !" });
            infowindow.open(map, mymarker2);

            console.log("rec", a);
        };

        //jQuery.connection.hub.start().done(function () {

        //        myHub.server.send(jQuery('#displayname').val(), jQuery('#message').val());

        //});
        function currentPosition(pos) {
            currentLoc = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
            map = new google.maps.Map(document.getElementById('map'), {
                center: currentLoc,
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            mymarker = new google.maps.Marker({ position: currentLoc, map: map });
            mymarker.setMap(map);

            var infowindow = new google.maps.InfoWindow({ content: "Hello " + jQuery('#displayname').val() + " !" });
            infowindow.open(map, mymarker);
            markers.push({ id: jQuery('#displayname').val(), markerObject: mymarker });
            sendingCoord(currentLoc);
        }

        function sendingCoord(a) {
            console.log(jQuery.connection);
            jQuery.connection.hub.start().done(function () {

                myHub.server.sendCoord(a, jQuery('#displayname').val());
                console.log("send", a);
            });
        }

        function SaveCoordinates(a) {


        }
        

        //this.init_map = function(){
        //    var mapOptions = {
        //        center: new google.maps.LatLng(lat, lng),
        //        zoom: 17,
        //        mapTypeId: google.maps.MapTypeId.ROADMAP
        //    };
        //    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        //}

        //this.addMarker = function(lat, lng, id){
        //    var marker = new google.maps.Marker({
        //        position: new google.maps.LatLng(lat, lng),
        //        map: map,
        //        title:"I'm Here!"
        //    });
        //    markers.push({ id: id, markerObject: marker});
        //}

        //this.updateMarkerCoordinates(lat, lng, id){
        //    //I let you loop the markers array, compare ids and retrieve the marker
        //    marker.setPosition(new google.maps.LatLng(lat, lng));
        //}

        function locUpdates(pos) {
            currentLoc = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
            console.log(currentLoc);

            sendingCoord(currentLoc);
            //mymarker.setPosition(currentLoc);
            //map.setCenter(currentLoc);

        }
        function error_callback(error) {
            document.getElementById("errorcode").innerHTML = error.code;
            document.getElementById("errormsg").innerHTML = error.message;
        }
    });


</script>



    }







@*<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<style>
    #mapid {
        height: 180px;
    }
</style>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js">
</script>
<script type="text/javascript">
    
</script>

<h2>Map</h2>
<div>
    <div id="mapid"></div>
</div>*@

