﻿@{
	ViewBag.Title = "Leaflet";
}
@*<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />*@
<link href="~/Content/leaflet.css" rel="stylesheet" />
<style>
	#mapid {
		height: 500px;
	}
</style>


@if (ViewBag.userName == null)
{

	<form method="post">
		<input type="text" id="mytxt" name="userName" />
		<button type="submit">Submit</button>
	</form>
	@*using ( Html.BeginForm("NewMap", "Map", FormMethod.Post, new { @class = "my_form" }))
	{
	   <p>Your Name : @Html.TextBox("userName")</p>
	<input type="submit" name="Enter" value="Enter " />
	}*@
}

@if (ViewBag.userName != null)
{
	<input type="hidden" id="displayname" value="@ViewBag.userName" />
	<h2>Leaflet</h2>
	<div class="col-lg-10" id="mapid"></div>
	<div class="col-lg-2">
		<select class="form-control-static" id="ddlUsers"></select>
		<input type="button" id="btnSetCentre" value="View" />
	</div>
	<div id="errorcode"></div>
	<div id="errormsg"></div>
	<div id="accur"></div>

	@section scripts {

		@*<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>*@

		<script src="~/Scripts/leaflet.js"></script>
		<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
		<script src="~/signalr/hubs"></script>
		<script src="~/Scripts/Leaflet.AccuratePosition.js"></script>
		<script>

			jQuery(document).ready(function () {

				//function loadjsfile(filename, callback) {

				//}
				var filename = '../Scripts/NewFile.js';

				var rnd = Math.floor(Math.random() * 80000);
				var fileref = document.createElement('script');
				fileref.setAttribute("type", "text/javascript");
				fileref.setAttribute("src", filename + "?r=" + rnd);

				var abc = jQuery('script');
				var done = false;
				fileref.onload = fileref.onreadystatechange = function () {
					if (!done && (!this.readyState
											|| this.readyState == "loaded"
											|| this.readyState == "complete")) {
						done = true;

						// Continue your code
						//callback();

						// Handle memory leak in IE
						fileref.onload = fileref.onreadystatechange = null;
						document.getElementsByTagName("script")[abc.length - 1].removeChild(fileref);
					}
				};
				//document.getElementsByTagName("script")[0].appendChild(fileref);


				console.log(abc);
				jQuery('script')[abc.length - 1].appendChild(fileref);
			});


		</script>
	}

}
